<mat-spinner *ngIf="!loaded" class="loader"></mat-spinner>
<div class="ship-detail-container" *ngIf ="ship">
    <div class="blue back-button">
        <a [routerLink]="''" href="">
            <mat-icon>navigate_before</mat-icon><p class="back-title">Вернуться</p>
        </a>
    </div>
    <h2>{{ship.name}}</h2>
    <div class="datail-container">
        <div class="detail-title-left">
            <div>Тип</div>
            <div class="blue">{{ship.type}}</div>
        </div>
        <div class="detail-title-right">
            <div>Порт</div>  
            <div class="blue">{{ship.home_port}}</div>
        </div>
        <div class="detail-title-left">
            <div>Вес</div>
            <div class="blue">{{ship.weight_kg}}</div>
        </div>
        <div class="detail-title-right">
            <div>Год</div> 
            <div class="blue">{{ship.year_built}}</div>
        </div>
    </div>
        <div>
            <div class="missions-title">Миссии</div>
            <span class="blue" *ngFor="let item of ship.missions; last as i"> {{item.name}} <span *ngIf="!i">,</span>  </span> 
        </div> 
   
    
</div>
