<div class="ships-data-grid">
    <div class="ships-container">
      <a [title]=[item.name] [routerLink]=[item.id] [href]=[item.id]>{{item.name}} <mat-icon>east</mat-icon></a>
    </div>
      
    <div class="ship-data">
      <div class="ship-detail-container">
      <div class="ship-detail-title">Тип</div>
      <div class="ship-detail-value">{{item.type}}</div>
    </div>
    <div class="ship-detail-container">
      <div class="ship-detail-title">Порт</div>
      <div class="ship-detail-value">{{item.home_port}}</div>
    </div>
    </div>
    </div>