<h2 class="ships-page-title">SpaceX Ships</h2>
<div class="container">
  
  <div class="ships-data-grid ">
    <h2 class="loader" *ngIf="!checkResult">No results</h2>
    <mat-spinner *ngIf="!loaded" class="loader"></mat-spinner>
    <app-ship #appShip *ngFor = "let item of ships$| async | slice:startIndex:endIndex" [item] = "item"></app-ship>
  </div>
  <div class= "filter-container">
    <h2>Фильтры</h2>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Название</mat-label>
        <input #nameInput matInput placeholder="Название" value="" (input)="nameChange(nameInput.value)">
      </mat-form-field>
       <mat-card>
        <p>Порт</p>
        <p>Выбраны</p>
        <mat-card-content formGroupName = "portGroup">
           <mat-checkbox formControlName = "canaveral" (change) = "portChange()" color="primary">Port Canaveral</mat-checkbox>
           <mat-checkbox formControlName = "ofLosAngeles" (change) = "portChange()" color="primary">Port of Los Angeles</mat-checkbox>
           <mat-checkbox formControlName = "fortLauderdale" (change) = "portChange()" color="primary">Fort Lauderdale</mat-checkbox>
         </mat-card-content>
       </mat-card>
       <mat-label class="radio-title">Тип</mat-label>
      
       <mat-radio-group class="types-section" formControlName = "typeShip"  >
         <mat-radio-button class="type-radio" color="primary" *ngFor = "let typeValue of types" [value] = "typeValue" (change)="getLoader()"> {{typeValue}}</mat-radio-button>
       </mat-radio-group>
    </form>
  </div>
</div>

<mat-paginator [length]="lengthPaginator"
              [pageSize]="size"
              (page)="pageChange($event)">
</mat-paginator>